<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'LOGIN.TITLE' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'LOGIN.SUBTITLE' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>{{ 'LOGIN.USERNAME' | translate }}</mat-label>
          <input matInput formControlName="username" placeholder="{{ 'LOGIN.USERNAME_PLACEHOLDER' | translate }}" />
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            {{ 'LOGIN.ERRORS.USERNAME_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
          />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            {{ 'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            {{ 'LOGIN.ERRORS.PASSWORD_MINLENGTH' | translate }}
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            {{ 'LOGIN.SUBMIT' | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>

    <div class="language-container">
      <app-language-selector></app-language-selector>
    </div>
  </mat-card>
</div>
